<section>

    <div class="form-box" id="para21">
        <div class="form-value">
         <!--<nav id="navbar" class="navbar">
                <ul>
                  
                  <li><a href="http://localhost:4200/"  class="button">  Home</a></li>
                </ul>
              </nav>-->

              <nav id="navbar" class="navbar">
                <ul>                  
                  <li><a class="button" href="index.html#para12" routerLink="/register_mentor">Mentor</a></li>
                </ul>
              </nav>
              <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="button" href="insex.html#para21" routerLink="/register_team">Teams</a></li>
                </ul>
              </nav>
              
        </div>
    </div>
    </section>

